footer p {

    color: blue;
    font-size: 1.5em;
    text-align: center;
}

h1, h3 {
color: orange;
text-align: center;
font-family: cursive;
text-shadow: 4px 8px 4px;
}

p{

    color: green;
    text-align: center;
}
body {
background-color: bisque;

}
#carlo {

    font-weight: 600;
}
#lorem {

    color: rebeccapurple;
}
.dog {
border-radius: 50px;
}