

.logo {
    text-align: center;
}

.margine {

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
}
#tit {

    text-align: center;
}


.img2 {

    text-align: center;
    border-radius: 15px;
    text-shadow: 4px 4px 8px;

    
}
#sv {

    text-align: center;
    color: grey;
}
.tit2 {

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: brown;
}
.hr{

    color: blue;

}
#img2wrapper{

    width: 100%;
    text-align: center;
}
h2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#lista {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#link{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#lista2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
#lista3 {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
#ult {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

#intestazione {
    border-top: 1px solid #ffcf7c;
    font-size: 0.4em;
    color: rgb(147, 147, 255);
}

#intestazione div {
    background-color: #967128;
    padding: 2em;
  }